CONFIG_USB_NET2280=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_NVMEM=y
CONFIG_I2C_MCP2221=y
CONFIG_SPI_FT4222=y
CONFIG_I2C_AMD_MP2=y
CONFIG_GPIO_PCA953X=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_ML_AK9912=y
CONFIG_ML_ICM_20602=y
CONFIG_PHYLIB=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_NET_VENDOR_INTEL=y
CONFIG_E100=y
CONFIG_E1000=y
CONFIG_E1000E=y
CONFIG_IIO=y
CONFIG_ICP101XX=m
CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_ATH_COMMON=m
CONFIG_ATH10K=m
CONFIG_ATH10K_PCI=m
# CONFIG_DRM_VIRTIO_GPU is not set
CONFIG_I40E=m
CONFIG_I40E_DCB=y
CONFIG_I40EVF=m
CONFIG_ION=y
CONFIG_ION_SYSTEM_HEAP=y
CONFIG_ION_CARVEOUT_HEAP=y
CONFIG_ION_CHUNK_HEAP=y
CONFIG_ION_CMA_HEAP=y
CONFIG_PL320_IPC=y
CONFIG_X86_IPC=y
# Broadcomm Support
CONFIG_BCMDHD=y
CONFIG_BCMDHD_PCIE=y
CONFIG_BCM4375=y
CONFIG_WLAN_VENDOR_BROADCOM=y
CONFIG_BCMDHD_FW_PATH="/system/etc/firmware/wifi/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/system/etc/firmware/wifi/bcmdhd.cal"
CONFIG_BCMDHD_CLM_PATH="/system/etc/firmware/wifi/bcmdhd_clm.blob"
CONFIG_BT_BCM43XX=y
