CONFIG_TYPEC=y
CONFIG_TYPEC_UCSI=y
CONFIG_TYPEC_DP_ALTMODE=y
CONFIG_UCSI_MLMUX_USBPD=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_FAN_MLMUX=y
CONFIG_SPI_AMD=y
CONFIG_ML_VICON_MERO=m
CONFIG_QCA_CLD_WLAN_PROFILE="ml_demophon"
CONFIG_SND_SOC_AMD_ACP5x_CUSTOM_FW="ml_acp5x_"
CONFIG_NLS=y
CONFIG_NLS_UTF8=y
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_ICP20100=y
CONFIG_ICP20100_I2C=y
CONFIG_CVIP=y
CONFIG_ML_CVIP_X86=y
CONFIG_ACPI_BUTTON=n
CONFIG_ML2_EC_CTRL=y
CONFIG_ML_TSF=y
CONFIG_MLMUX_LOGGER_COMP=y
CONFIG_MLMUX_LWEAR_COMP=y

# Performance tracing
CONFIG_FTRACE=y

CONFIG_EXFAT_FS=y
